canvas{
    display: block;
    margin: 0 auto;
}
*{
    /* background-color: black; */
    /* background-image: url(https://mcdn.wallpapersafari.com/medium/98/71/mLWjH1.jpg); */
    background-image: url(https://img.wallpapersafari.com/desktop/1920/1080/98/99/eZKvBd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url(https://img.wallpapersafari.com/desktop/1920/1080/58/44/OXuM8x.jpg); */
    /* background-image: url(https://img.wallpapersafari.com/desktop/1920/1080/10/37/ik1uqR.jpg); */
    /* background-image: url(https://img.wallpapersafari.com/desktop/1600/900/98/13/gaC2ui.jpg) */
    /* background-image: url(https://img.wallpapersafari.com/desktop/1920/1080/56/28/UCe4wg.jpg) */


}